APP_NAME=Portofolio
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://domain-anda.com
APP_PORT=8080
APP_TIMEZONE=Asia/Jakarta

# Log
LOG_CHANNEL=stack
LOG_LEVEL=error

# Database (MySQL eksternal / shared)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_portofolio
DB_USERNAME=root
DB_PASSWORD=

# Seeding
DB_SEED=false

# Driver
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
